<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Jonathas Melo</a>
                <div class="description">
                    <p>Master's degree student in Computer Science | Computer Security Researcher</p>
                </div>
            </div>
        </div>
    </div>
</div>
